nav li a {
  text-decoration: none;
  font-size: larger;
  font-weight: bolder;
}

nav li a:hover {
  color: rgb(255, 0, 0);
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

nav li:hover {
  background-color: #20fd03;
}
