nav li{
    list-style: none;
    display: inline-block;
}

nav li a{
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    display: block;
    font-size: larger;
    font-weight: bold;
}